@import "tailwindcss";

button {
    cursor: pointer;
}

textarea {
    resize: none;
    width: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    max-width: 1440px;
    width: 100%;
    padding: 25px 15px;
    margin: 0 auto;
}

.btn {
    margin-top: 25px;
}

.book-blog {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.book-list {
    margin-top: 25px;
    position: relative;
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.book-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 25px 0;
}

.pagination {
    display: flex;
    gap: 10px;
}

.numPage.active {
    background: rgb(28, 148, 233);
    width: 25px;
    border-radius: 50%;
    color: white;
}


.pagination-btn.disabled {
    display: none;
}

.book-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.book-new-blog {
    margin-top: 15px;
}

.book-new-blog.desc {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-new {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-new-input {
    margin-left: 15px;
    border: 1px solid rgba(0, 0, 0, 0.167);
}

.book-new-btn {
    display: flex;
    justify-content: space-between;
    width: 100%;

}